* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4rem;
  background-color: rgb(159, 183, 207);
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 4rem;
}

nav {
  margin:0 auto;
  font-size: 2rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0px 20px 75px;
  background-color: rgb(159, 183, 207);
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: greenyellow;
}

a,
a:focus,
a:visited {
  color: rgb(255, 64, 0);
  outline: none;
}
